$width: 100%;
$bold: 600;

.form-control {
  width: $width;
}

@media (min-width: 768px) {
  .form-control {
    width: $width/3;
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.email {
  text-decoration: underline;
  cursor: pointer;
}

.email:hover {
  font-weight: $bold;
}
