.live-container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Se aplico BEM en las siguientes tres declaraciones */

.container__title {
  padding: 25px;
}

.container__text {
  align-content: center;
  text-align: justify;
}

.emphasized-text {
  text-transform: uppercase;
  font-weight: 700;
}

table {
  display: flex;
  justify-content: center;
  border-collapse: collapse;
  padding: 25px;
}

.live-link {
  text-decoration: underline;
}

.live-link:hover {
  font-weight: 510;
}
