/* Se aplico BEM en las siguientes tres declaraciones */

.container__title {
  padding: 25px;
}

.container__text {
  padding: 10px;
  align-content: center;
  text-align: justify;
}

.emphasized-text {
  text-transform: uppercase;
  font-weight: 700;
}

table {
  display: flex;
  justify-content: center;
  border-collapse: collapse;
  padding: 25px;
}

.link {
  text-decoration: underline;
}

.link:hover {
  font-weight: 510;
}
